<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <p>I am Oratile Koloko, a progress-driven young lady that is fascinated by the superpower of being able to develop a “localhost:3000” page from a
       clean page to a fully functional website or web app. I am currently enrolled for the Software Engineering bootcamp at Hyperion Dev
       and also doing the Meta React Native Specialization through Coursera to improve my skills as I enjoy learning new technologies and working towards becoming a Cloud Developer.
       My current project is a salon booking system which I am working on using HTML, CSS and JavaScript.</p>
</body>
</html>
